# Backend
/backend/.phpunit.cache
/backend/bootstrap/ssr
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/resources/js/actions
/backend/resources/js/routes
/backend/resources/js/wayfinder
/backend/storage/*.key
/backend/storage/pail
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
/backend/api-docs.json

# Frontend
/frontend/node_modules

# General
.DS_Store
.phpactor.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
cesizen_db

# SonarQube
.scannerwork/
coverage/
.env